/* 헤더 */
div.hdrWrap{
    position: inherit;
}
div.hdrWrap>div.header{
    width: 90%;
    max-width: 700px;
}
div.hdrWrap>div.header>ul.nav>li{
    display: none;
}
div.hdrWrap>div.header>ul.nav>li:nth-child(4){
    display: block;
    font-size: 30px;
}

/* 네브박스 */
div.navBoxWrap{
    display: none;
}

/* 메인 */
div.mainWrap>div.main{
    width: 90%;
    max-width: 700px;
    padding: 60px 0px 0px;
}
div.mainWrap>div.main>p{
    font-size: 20px;
}

/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 80px;
}
div.cntWrap>div.content{
    width: 90%;
    max-width: 700px;
}
div.cntWrap>div.content div.section{
    margin-top: 20px;
}
div.cntWrap>div.content div.header>p{
    display: none;
}

/* 컨텐츠01 */
div.cntWrap:nth-child(4){
    margin-top: 80px;
}
div.cntWrap>div.content.cnt01>div.header{
    float: none;
    font-size: 35px;
    margin: 0 auto;
    text-align: center; 
}
div.cntWrap>div.content.cnt01>div.section{
    width: 100%;
    float: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artView{
    width: calc((100vw - 700px) / 2 + 100%);
    min-width: calc((100vw - 90vw) / 2 + 100%);
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt01>div.section>div.btns>div.bar>h4{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.btns>div.bar{
    margin-top: 30px;
}
div.cntWrap>div.content.cnt01>div.section>div.btns>div.btn{
    font-size: 60px;
    right: 60px;
}

/* 컨텐츠02 */
div.cntWrap>div.content.cnt02>div.cntRight{
    display: none;
}
div.cntWrap>div.content.cnt02>div.cntLeft{
    width: calc((100vw - 700px) / 2 + 100%);
    min-width: calc((100vw - 90vw) / 2 + 100%);
    margin-left: calc((100vw - 700px) / -2);
    float: none;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.header{
    float: none;
    margin: 0 auto;
    width: 100vw;
    padding: 0px;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.header>h2{
    text-align: center;
    font-size: 35px;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section{
    width: 100%;
    float: none;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section>div.artView>div.article>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section>div.btns>div.btn{
    font-size: 60px;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section>div.btns>div.bar>h4{
    display: none;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section>div.btns>div.bar{
    margin-top: 20px;
}

/* 컨텐츠03 */
div.cntWrap>div.content.cnt03>div.cntLeft{
    display: none;
    float: none;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.header{
    float: none;
    margin: 0 auto;
    width: 100vw;
    padding: 0px;
    margin-left: calc((100vw - 700px) / -2);
}
div.cntWrap>div.content.cnt03>div.cntRight>div.header>h2{
    font-size: 35px;
    text-align: center;
}
div.cntWrap>div.content.cnt03>div.cntRight{
    width: calc((100vw - 700px) / 2 + 100%);
    min-width: calc((100vw - 90vw) / 2 + 100%);
    float: none;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section{
    width: 100%;
    float: none;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.artView>div.article>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.btns>div.btn{
    font-size: 60px;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.btns>div.bar>h4{
    display: none;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.btns>div.bar{
    margin-top: 20px;
}

/* 컨텐츠04 */
div.cntWrap>div.content.cnt04>div.cntRight{
    display: none;
    float: none;
}
div.cntWrap>div.content.cnt04>div.cntLeft{
    width: calc((100vw - 700px) / 2 + 100%);
    min-width: calc((100vw - 90vw) / 2 + 100%);
    margin-left: calc((100vw - 700px) / -2);
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.header{
    float: none;
    margin: 0 auto;
    width: 100vw;
    padding: 0px;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.header>h2{
    text-align: center;
    font-size: 35px;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section{
    width: 100%;
    float: none;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section>div.artView>div.article>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section>div.btns>div.btn{
    font-size: 60px;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section>div.btns>div.bar>h4{
    display: none;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section>div.btns>div.bar{
    margin-top: 20px;
}


/* 푸터 */
div.ftrWrap{
    margin-top: 120px;
}
div.ftrWrap>div.footer{
    width: 90%;
    max-width: 700px;
    padding: 20px 0px;
}
div.ftrWrap>div.footer>div.ftrTop>h1{
    float: none;
    text-align: center;
}
div.ftrWrap>div.footer>div.ftrTop>ul.nav::after{
    display: block;
    content: '';
    clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>ul.nav{
    float: none;
    font-size: 10px;
    width: calc(100% / 8 * 3.1);
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.ftrTop>ul.nav>li{
    margin: 0px 10px;

}
div.ftrWrap>div.footer>div.ftrBtm{
    text-align: center;
}
div.ftrWrap>div.footer>div.ftrBtm>div.form{
    display: none;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns{
    float: none;
    margin: 0 auto;
}